dist
dist-*
cabal-dev
*.o
*.hi
*.chia
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
























[H[2J[?2004h[m[1;26r[H[2J[m[1;4r[H[2J[7m    IW  
[m[K
[K
[K[7m 2015 **[2A[mNew Filev[K

[K[2A[Cs[K[K
[K[A[C[K

